zbb-files-automation/src/main/app/zbb-fileFetch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="${azure.host}" port="${azure.port}"  doc:name="HTTP Request Configuration" basePath="${azure.basepath}">
    </http:request-config>
    <sftp:connector name="SFTP2" validateConnections="true" doc:name="SFTP"/>
 
  
     <flow name="get:/files-impl">
     <sftp:inbound-endpoint host="${sftp.host}" port="${sftp.port}" path="${sftp.path}" user="${sftp.user}" password="${sftp.password}" responseTimeout="10000" pollingFrequency="${sftp.poll}" fileAge="${sftp.age}"   doc:name="SFTP File Fetch" doc:description="This SFTP connector will fetch files from the provided end-point  by the properties file.

It will try to reconnect 10 times with a delay in between of 2000 miliseconds.

It creates a temporal folder for the retrieved files in the following path: src/main/resources/temp

The folder is then used as a source for the file export." connector-ref="SFTP2" sizeCheckWaitTime="${sftp.sizeCheck}">
 <file:filename-wildcard-filter pattern="*_MEX_*_*.csv"/> 
            <reconnect-forever frequency="120000"/>
            
        </sftp:inbound-endpoint>

        <logger level="INFO" doc:name="Logger" message="File #[message.inboundProperties.originalFilename] retrieved"/>
        <flow-ref name="put:/files-impl" doc:name="put:/files-impl"/>
    </flow>
     


   
 
 <!--    <flow name="put:/files2-impl">
        <file:inbound-endpoint path="src/main/resources/output" connector-ref="File" responseTimeout="10000" doc:name="Retrieve Files From Mulesoft"/>
        <file:file-to-byte-array-transformer doc:name="File to Byte Array"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{filename}?sv=2015-04-05&amp;ss=bf&amp;srt=sco&amp;st=2015-12-16T00:00:00Z&amp;sp=rwl&amp;se=2016-12-20T00:00:00Z&amp;spr=https&amp;sig=J0nedQzBOqrvd9NPV013U0oxiAWSlavA/3haR2h59DM%3D" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="filename" value="#[message.inboundProperties.originalFilename]"/>
                <http:header headerName="x-ms-blob-type" value="Blockblob"/>
            </http:request-builder>
        </http:request>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
 -->
 
</mule>
