.mule/apps/mas_sap_sfdc/classes/mas-inbound-merchandise.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">
    <flow name="mas-inbound-merchandise">
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <custom-transformer class="sima.utils.StringToJSON" doc:name="Java"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="send-InboundToSAP" doc:name="send-InboundToSAP"/>
        <flow-ref name="send-InboundToSFDC" doc:name="send-InboundToSFDC"/>

        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
        <exception-strategy ref="errorhandlingChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>

    </flow>
    <flow name="send-InboundToSAP">
        <dw:transform-message doc:name="Transform Message" metadata:id="07343bbd-9d8c-4356-8e63-f85011954e71">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	ZPAIMF_ENTRADAMERCANCIA: {
		tables: {
			T_INPUT: {
			
				(payload map
				row: {
					REF_DOC_NO: $.invoice,
					GM_CODE: $.activity,
					MOVE_TYPE: $.classMove,
					ENTRY_QNT: $.quantity,
					PO_ITEM: $.position,
					PO_NUMBER: $.order
				}
				)
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="ZAAPMF_ENTRADAMERCANCIA" outputXml="true" responseTimeout="10000" doc:name=""/>
        <dw:transform-message doc:name="Transform Message" metadata:id="3c2b7725-6faf-4791-aa56-58234e885612">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
(payload.ZAAPMF_ENTRADAMERCANCIA.tables.T_OUTPUT.*row map  {
	Name: $.BEDNR when $.MATERIALDOCUMENT == "" otherwise $.MATERIALDOCUMENT,
	aib__Message__c: $.MESSAGE,
	aib__Order_Request__c: $.BANFN,
	aib__PO_Name__c: $.EBELN,
	aib__Position__c: $.EBELP,
	aib__Response__c: $.RPTA,
	aib__WO_Name__c: $.BEDNR,
	aib__Year__c: $.MATDOCUMENTYEAR as :number
})

]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="send-InboundToSFDC">
        <sfdc:upsert config-ref="Salesforce_Authentication" externalIdFieldName="Name" type="aib__SAP_Inbound_Merch__c" doc:name="Salesforce">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:upsert>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map
{
	created: $.created,
	errors: [{
		fields: $.errors.fields,
		message: $.errors.message,
		statusCode: $.errors.statusCode
	}],
	id: $.id,
	success: $.success
} ]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>

</mule>
