mas_sap_sfdc/target/classes/mas-assets.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd">
    <flow name="mas-assetsFlow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	ZPAIMF_CONSULTARACTIVOS: {
		tables: {
			T_OUTPUT: {
				row: {
					BUKRS: null,
					SWERK: null,
					EQUNR: null,
					EQKTU: null,
					LICENSE_NUM: null,
					SERGE: null,
					EQART: null,
					HERST: null,
					TYPBZ: null,
					BAUJJ: null,
					KEY_NUM: null,
					FUEL_PRI: null,
					STAT_SIS: null,
					STAT_USU: null,
					FLEET_VIN: null,
					NO_COMPART: null,
					LOAD_WGT: null,
					KOSTL: null
				}
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <sap:outbound-endpoint connector-ref="SAP" type="function" outputXml="true" responseTimeout="10000" doc:name="ZPAIMF_CONSULTARACTIVOS" functionName="ZPAIMF_CONSULTARACTIVOS" exchange-pattern="request-response"/>
        <sap:object-to-xml doc:name="SAP Object to XML"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="0d6c295d-abf6-48ab-966a-94b7a8a18f5d">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	ZPAIMF_CONSULTARACTIVOS: {
		tables: {
			T_OUTPUT: {
				(payload.ZPAIMF_CONSULTARACTIVOS.tables.T_OUTPUT.*row map ((row , indexOfRow) -> {
					row: {
						BUKRS: row.BUKRS,
						SWERK: row.SWERK,
						EQUNR: row.EQUNR,
						EQKTU: row.EQKTU,
						LICENSE_NUM: row.LICENSE_NUM,
						SERGE: row.SERGE,
						EQART: row.EQART,
						HERST: row.HERST,
						TYPBZ: row.TYPBZ,
						BAUJJ: row.BAUJJ,
						KEY_NUM: row.KEY_NUM,
						FUEL_PRI: row.FUEL_PRI,
						STAT_SIS: row.STAT_SIS,
						STAT_USU: row.STAT_USU,
						FLEET_VIN: row.FLEET_VIN,
						NO_COMPART: row.NO_COMPART,
						LOAD_WGT: row.LOAD_WGT,
						KOSTL: row.KOSTL
					}
				}))
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
